<template>
  <div class="footer">
    <div class="text-center w-100">
      <div class="footer-social">
        <i class="fab fa-facebook-f mr-3"></i>
        <i class="fab fa-twitter mr-3"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
      <div class="footer-copyright">
        <span class="copyright">
          ©2021 by BS Myco Biotech.
        </span>
      </div>
    </div>
  </div>
</template>
<script>
  export default {

  }

</script>
<style>
  .footer {
    width: 100%;
    height: 180px;
    background-color: #2a7c6f;
    color: #fff;
    font-size: 14px;
  }

  .copyright {
    font-family: avenir-light;
    font-size: 14px;
  }

  .footer-social{
    padding-top: 60px;
    cursor: pointer;
  }
  .footer-copyright{
      margin-top: 45px;
  }

</style>
