<template>
  <div class="navbar">
    <div class="text-center w-100">
      <div class="mt-4">
        <nuxt-link to="/">
          <b-img :src="require('~/static/icon.png')" fluid alt="Logo image" v-bind="{width:105}"></b-img>
        </nuxt-link>
        <div class="mt-3 mb-3">
          <nuxt-link to="/" class="navbar-header">
            BS MYCO BIOTECH
          </nuxt-link>
        </div>
      </div>
      <div class="pt-4">
        <nuxt-link v-for="item in navbarMenu" :key="item.link" :to="item.link" class="navbar-link">
          {{item.name}}
        </nuxt-link>
      </div>
    </div>
    <div class="text-center  w-100">

    </div>
  </div>
</template>
<script>
  export default {
    data: () => {
      return {
        navbarMenu: [{
            name: 'Home',
            link: '/'
          },
          {
            name: 'Products',
            link: '/products'
          },
          {
            name: 'People',
            link: '/people'
          },
          {
            name: 'News',
            link: '/news'
          },
          {
            name: 'Contact',
            link: '/contact'
          }
        ]
      }
    }
  }

</script>
<style>
  .navbar {
    background-color: #fffefc;
    width: 100%;
    height: 300px;
  }

  .navbar-header {
    font-family: brandon-grotesque;
    color: #2a7c6f;
    font-size: 40px;
    text-decoration: none;
    font-weight: normal;
  }

  .navbar-header:hover {
    color: #2a7c6f;
    text-decoration: none;
  }

  .navbar-link {
    font-family: avenir-light;
    font-size: 14px;
    color: #2a7c6f;
    margin-left: 8px;
    margin-right: 8px;
  }

  .navbar-link:hover {
    color: #318f7f;
    text-decoration: none;
  }

  @media (max-width:576px) {
    .navbar-header {
      font-size: 28px;
    }
  }

</style>
