<template>
  <div class="contact-bg">
    <div class="container">
      <div class="row" style="padding-top: 80px;">
        <div class="col-12 col-md-6 pr-md-0">
          <div class="h-100 d-flex align-items-center" style="background-color: #fff;">
            <div class="ml-4 mt-4 mb-4">
              <span class="header-text">
                CONTACT US
              </span>
              <div class="mt-4">
                <p class="font-content" style="color: #2a7c6f;line-height:32px;">
                  Bangkok, Thailand<br>
                  contact@bsmbiotech.com<br>
                  +66 123 1234
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 pl-md-0 d-none d-md-block">
          <div class="contact-image">
            <img :src="require('~/assets/images/contact/contact-1.webp')" alt="contact-1" />
          </div>
        </div>
      </div>
      <div class="row" style="padding-bottom: 90px;">
        <div class="col text-center">
          <div>
            <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1Go0SK0d2laMyL1davJIe8Mwllet6EGkg" width="100%" height="480"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  export default {}

</script>

<style scoped>
  .header-text {
    font-family: brandon-grotesque-light;
    color: #2a7c6f;
    ;
    font-size: 40px;
  }

  .contact-bg {
    background-color: #2c8d7e;
  }

  .contact-image {
    position: relative;
    width: 100%;
    height: 400px;
  }

  .contact-image>img {
    object-fit: cover;
    width: 100%;
    height: 400px;
  }

</style>
