<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 clear-pr">
          <div class="box-main-left"></div>
        </div>
        <div class="col-12 col-lg-6 clear-pl">
          <div class="box-main-right">
            <div class="item">
              <div class="item-1">
                BS MYCO <br />
                BIOTECH
              </div>
              <div class="item-2">Uncovering a sustainable solution</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="h-clear"></div>
    <div class="news-bg">
      <div class="container">
        <div class="row">
          <div class="col-12" style="margin-top: 120px">
            <div class="box-video">
              <b-embed
                type="iframe"
                aspect="16by9"
                src="@/assets/images/test.mp4"
                allowfullscreen
              ></b-embed>
            </div>
          </div>
          <div class="col text-center" style="margin-top: 120px">
            <span class="header-text"> RESEARCH & DISCOVERIES </span>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col text-center">
            <p class="font-content">
              With the discoveries of organic MyracinthX, Waterways will now be
              free from invasive weeds, paving the way for a more sustainable,
              clean future.
            </p>
          </div>
        </div>
        <div class="row" style="padding-top: 70px; padding-bottom: 90px">
          <div class="col-12 col-lg-6">
            <div class="news-images">
              <b-img
                :src="require('@/assets/images/home1.webp')"
                style="min-height: 350px"
                fluid
                alt="news-1"
              >
              </b-img>
              <div class="text-over-header">
                <span class="text-over-header-inner">
                  PARAMYROTHESIUM FOLIICOLE
                </span>
                <p class="font-content mt-4">The miracle fungi</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="news-images">
              <b-img
                :src="require('@/assets/images/home2.webp')"
                style="min-height: 350px"
                fluid
                alt="news-2"
              >
              </b-img>
              <div class="text-over-header">
                <span class="text-over-header-inner"> LIVE CULTURE </span>
                <p class="font-content mt-4">
                  Easy transport <br />
                  Easy Application <br />
                  Clean clear result
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 30px">
          <div class="col-12 col-md-6 pr-md-0">
            <div
              class="h-100 d-flex align-items-center"
              style="background-color: #fff"
            >
              <div class="ml-4 mt-4 mb-4">
                <span class="header-text-2"> CONTACT US </span>
                <div class="mt-4">
                  <p
                    class="font-content"
                    style="color: #2a7c6f; line-height: 32px"
                  >
                    Bangkok, Thailand<br />
                    contact@bsmbiotech.com<br />
                    +66 123 1234
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 pl-md-0 d-none d-md-block">
            <div class="contact-image">
              <img
                :src="require('~/assets/images/contact/contact-1.webp')"
                alt="contact-1"
              />
            </div>
          </div>
        </div>
        <!-- <div class="row" style="padding-bottom: 90px">
          <div class="col-12 col-lg-6 clear-pr">
            <div class="news-images" :style="'height:' + unBoxHeight + 'px'">
              <div class="contact"></div>
              <div class="text-over-header-2">
                <span class="text-over-header-inner-2 color-green">
                  CONTACT US
                </span>
                <p class="font-content color-green mt-4">
                  Bangkok, Thailand<br />
                  contact@bsmbiotech.com<br />
                  +66 123 1234
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 clear-pl">
            <div class="news-images" ref="unBox">
              <b-img
                :src="require('~/assets/images/contact/contact-1.webp')"
                style="height: 400px; width: 100%"
                fluid
                alt="news-2"
              >
              </b-img>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      unBoxHeight: 0,
    };
  },
  mounted() {
    // this.onGetHeightUnBox();
  },
  methods: {
    onGetHeightUnBox() {
      this.unBoxHeight = this.$refs.unBox.clientHeight;
    },
  },
};
</script>

<style scoped>
.box-main-left {
  background: url(../assets/images/vaccine-4892048_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
}
.box-main-right {
  background-color: #2c8d7e;
  height: 500px;
  width: 100%;
  text-align: center;
  font-family: brandon-grotesque-light;
  color: #fff;
  position: relative;
}

.news-bg {
  background-color: #2a7c6f;
}

.header-text {
  font-family: brandon-grotesque-light;
  color: #fff;
  font-size: 40px;
}

.news-images {
  position: relative;
  color: white;
}

.text-over-header {
  position: absolute;
  top: 55%;
  left: 8%;
}

.text-over-header-2 {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-20%, -80%);
}

.text-over-header-inner {
  font-family: brandon-grotesque-light;
  font-size: 22px;
}

.text-over-header-inner-2 {
  font-family: brandon-grotesque-light;
  font-size: 40px;
}

.h-clear {
  clear: both;
  height: 80px;
}

.item {
  position: absolute;
  top: 32%;
  width: 100%;
}
.item-1 {
  font-size: 56px;
  line-height: 1.1;
  color: #ffffff;
}
.item-2 {
  margin-top: 20px;
  font-size: 20px;
  color: #ffffff;
}
.break {
  width: 100%;
}

.contact {
  background: #ffffff;
  height: 100%;
}

.color-green {
  color: #2c8d7e;
}

.box-video {
  padding: 0 10%;
}
.news-images {
  margin-bottom: 10px;
}

.contact-image {
  position: relative;
  width: 100%;
  height: 400px;
}

.contact-image > img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.header-text-2 {
  font-family: brandon-grotesque-light;
  color: #2a7c6f;
  font-size: 40px;
}
@media (max-width: 767px) {
  .box-video {
    padding: 0 0;
  }
  .clear-pr {
    padding-right: 15px !important;
  }
  .clear-pl {
    padding-left: 15px !important;
  }
}
@media (min-width: 992px) {
  .clear-pr {
    padding-right: 0px !important;
  }
  .clear-pl {
    padding-left: 0px !important;
  }
  .news-images {
    margin-bottom: 0px;
  }
}
</style>
