<template>
  <div class="news-bg">
    <div class="container">
      <div class="row">
        <div class="col text-center" style="margin-top: 120px;">
          <span class="header-text">
            PRESS
          </span>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col text-center">
          <p class="font-content">
            It’s always an honor to have our work and research mentioned by the media and in the press. We are
            especially pleased when our work
            reaches readers outside the scientific community. Read on to see some of the latest stories about our
            findings.
          </p>
        </div>
      </div>
      <div class="row" style="padding-top: 70px;">
        <div class="col-12 col-lg-6" style="padding-bottom: 90px;">
          <div class="news-images">
            <b-img :src="require('~/assets/images/news/news-1.webp')" style="min-height: 350px;" fluid alt="news-1">
            </b-img>
            <div class="text-over-header">
              <span class="text-over-header-inner">
                A REVOLUTIONARY CHEMICAL BIOLOGY LAB
              </span>
              <p class="font-content mt-4">
                Add a News Article with a short summary and a link.
                You can also add a video for extra engagement. Be detailed and thorough to
                interest your readers, and include links to the original story online.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6" style="padding-bottom: 90px;">
          <div class="news-images">
            <b-img :src="require('~/assets/images/news/news-2.webp')" style="min-height: 350px;" fluid alt="news-2">
            </b-img>
            <div class="text-over-header">
              <span class="text-over-header-inner">
                TOP DISCOVERIES OF THE DECADE
              </span>
              <p class="font-content mt-4">
                Add a News Article with a short summary and a link. You can also add a video
                for extra engagement. Be detailed and thorough to interest your readers, and include links
                to the original story online.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {}

</script>

<style scoped>
  .news-bg {
    background-color: #2c8d7e;
  }

  .header-text {
    font-family: brandon-grotesque-light;
    color: #fff;
    font-size: 40px;
  }

  .news-images {
    position: relative;
    color: white;
  }

  .text-over-header {
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-20%, -80%);
  }

  .text-over-header-inner {
    font-family: brandon-grotesque-light;
    font-size: 22px;
  }
</style>
