<template>
  <div class="news-bg">
    <div class="container">
      <div class="row">
        <div class="col text-center" style="margin-top: 120px">
          <span class="header-text"> MEET OUT TEAM </span>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col text-center">
          <p class="font-content">The Management</p>
        </div>
      </div>
      <div class="row" style="padding-top: 70px">
        <div class="col-12 col-lg-4" style="padding-bottom: 90px">
          <div class="image-team">
            <b-img
              :src="require('@/assets/images/home1.webp')"
              style="min-height: 350px"
              fluid
              alt="team-1"
            >
            </b-img>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.news-bg {
  background-color: #2c8d7e;
}

.header-text {
  font-family: brandon-grotesque-light;
  color: #fff;
  font-size: 40px;
}

.news-images {
  position: relative;
  color: white;
}

.text-over-header {
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-20%, -80%);
}

.text-over-header-inner {
  font-family: brandon-grotesque-light;
  font-size: 22px;
}
</style>
