<template>
  <div class="container-bg">
     <div class="container">
      <div class="row">
          <div class="col text-center" style="margin-top: 120px;">
            <span class="header-text">
              PRODUCTS
            </span>
          </div>
        </div>
      <div class="row mt-4" style="padding-top: 70px;padding-bottom: 90px;">
        <div class="col-12 col-md-6 " style="padding-bottom: 50px;">
          <div class="news-images">
            <b-img :src="require('~/assets/images/products/products-1.webp')" style="height: 460px;" fluid alt="products-1">
            </b-img>
            <div class="text-over-header">
              <span class="text-over-header-inner">
                ARGRICULTURE
              </span>
              <p class="font-content mt-4" >
               Myracinth

              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6" style="padding-bottom: 50px;">
          <div class="news-images">
            <b-img :src="require('~/assets/images/products/products-2.webp')" style="height: 460px;" fluid alt="products-2">
            </b-img>
            <div class="text-over-header">
              <span class="text-over-header-inner">
                HERBICIDE
              </span>
              <p class="font-content mt-4" >
                Mycinth
              </p>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</template>

<script>

export default {
}
</script>

<style scoped>
  .container-bg {
    background-color: #2c8d7e;
  }

   .header-text {
    font-family: brandon-grotesque-light;
    color: #fff;
    font-size: 40px;
  }

  .news-images {
    /* position: relative; */
    background-color: white;
    padding-bottom: 1%;
   
  }
  .font-content {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.75em;
    font-size: 18px;
    color: rgb(89 138 115);
  }

  .text-over-header {
    /* position: absolute; */
    top: 80%;
    left: 20%;
     color: black;
     margin: 10%;
    /* transform: translate(-20%, -80%); */
  }

  .text-over-header-inner {
    font-family: brandon-grotesque-light;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(89 138 115);

  }

</style>

